<!-- SEZIONE CONTATTI -->
<section id="prenota" class="first-section-3 px-3" [ngClass]="{'show': isContactsVisible}">
    <div class="background-image" [ngClass]="{'show': isContactsVisible}"></div>
    <div class="container">
        <div class="text-container">
            <h1>Per prenotare una visita o anche per un semplice consulto:</h1>
            <ul class="lista-prenota">
                <li>Visita la mia pagina <a style="color: white" target="_blank"
                        href="https://www.miodottore.it/chiara-rouibah/osteopata/lainate">Miodottore.it</a></li>
                <li>Contattami su <a href="https://wa.me/message/K2P4AACHQEQWM1">WhatsApp</a>!</li>
                <li>Scrivi una mail a <a href="mailto:chiara.rouibah98@gmail.com">chiara.rouibah98@gmail.com</a></li>
            </ul>
        </div>
    </div>
</section>