<!-- SEZIONE CONTATTI -->
<section class="first-section-3 px-3" [ngClass]="{'show': isContactsVisible}">
    <div class="" [ngClass]="{'show': isContactsVisible}"></div>
    <div class="container">
        <div class="text-container">
            <div class="row pb-4">
                <div class="col">
                    <h1>Prenota la tua visita<br>osteopatica a Rho</h1>

                    <h2>Per prenotare una visita o anche per un semplice consulto:</h2>
                </div>
                <div class="col">
                    <div class="lista-prenota">
                        <p>Contattami su <a href="https://wa.me/message/K2P4AACHQEQWM1">WhatsApp</a>!</p>
                        <p>Telefona al <a href="tel:3791110607">379 111 0607</a></p>
                        <p>Scrivi una mail a <a href="mailto:chiara.rouibah98@gmail.com">chiara.rouibah98&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.320678764162!2d9.044730875763186!3d45.52375202946402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786ebee3d30740d%3A0x5b529ae83190148c!2sChiara%20Rouibah%20Osteopata%20Rho!5e0!3m2!1sit!2sit!4v1726503374154!5m2!1sit!2sit"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</section>