h2 {
    opacity: 1;
    margin-top: 0px;
    font-size: 30px;
}

ul {
    list-style: none;
}

p a {
    color: #457692
}

p a:hover {
    color: #457692;
}

.border-pro {
    border-bottom: 1px solid #457692;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease;
}

.background-image.show {
    opacity: 0.4;
}

.background-image {
    background-image: url('../../../assets/images/cuore.png');
    z-index: 0;
}

.btn-submit {
    background-color: #cfdce4;
    color: #457692;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px 50px;
}

.first-section-3 {
    position: relative;

    height: 90vh;
    z-index: 1;
}

.first-section-3.show {
    opacity: 1;
}

.calendar h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.calendar p {
    font-size: 20px;
}

.text-container {
    position: relative;
    z-index: 2;
}

.map-container {
    width: 100%;
    max-height: 500px; /* Limita l'altezza della mappa */
    overflow: hidden !important; /* Assicurati che non generi scrollbar interne */
    margin: 20px 0;
}

form {
    margin: 30px 0;
}
iframe {
    width: 100%;
    height: 300px; /* Adatta all'altezza del contenitore */
    border: none;
}

.lista-prenota {
    background-color: #cfdce4;
    border-radius: 20px;
    padding: 30px;
    color: #457692;
    font-size: 30px;
    margin-bottom: -75px;
    position: relative;
    z-index: 11
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 23px;
    }
    iframe {
        width: 100%;
        height: 200px;
        border: none;
        margin: 50px 0;
    }
    .lista-prenota {
        background-color: #cfdce4;
        border-radius: 20px;
        padding: 30px;
        color: #457692;
        font-size: 16px;
        margin-bottom: -30px;
        position: relative;
        z-index: 11;
    }
}