<!-- NAVBAR -->
<nav class="nav-desktop" [ngClass]="{'show': isNavbarVisible}">
  <a href="#about">Su di me</a>
  <a href="#studio">Lo studio</a>
  <a href="#osteopatia">L'osteopatia</a>
  <a href="#prenota">Prenota una visita</a>
  <a href="#recensioni">Recensioni</a>
</nav>

<nav class="nav-mobile" [ngClass]="{'show': isNavbarVisible}">
  <ul class="navlist" [ngClass]="{'show-nav': visible, 'hide-nav': !visible}">
    <li><a href="#about">Su di me</a></li>
    <li><a href="#studio">Lo studio</a></li>
    <li><a href="#osteopatia">L'osteopatia</a></li>
    <li><a href="#prenota">Prenota una visita</a></li>
    <li><a href="#recensioni">Recensioni</a></li>
  </ul>
  <div class="flex-end">
    <div id="nav-icon3" (click)="clickEvent()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

<!-- PRIMA SEZIONE -->
<section class="first-section" [ngClass]="{'show': isBackgroundVisible}">
  <div class="background-image" [ngClass]="{'show': isBackgroundVisible}"></div>
  <h1 class="font-amsterdam" [ngClass]="{'show': isH1Visible}">Chiara Rouibah</h1>
  <h2 [ngClass]="{'show': isH2Visible}">Osteopata</h2>
</section>

<!-- SEZIONE ABOUT -->
<section id="about" class="bg-light-1" [ngClass]="{'show': isAboutVisible}">
  <div class="container">
    <div class="background-image-light" [ngClass]="{'show': isAboutVisible}"></div>
    <div class="text-container">
      <div class="flex-center">
        <img class="chiara" src="../assets/images/e3e85ad847ffeccfe416803b3efa63aa.jpeg"
          [ngClass]="{'show': isImgVisible && isAboutVisible}">
      </div>
      <div class="row">
        <div class="col flex-center">
          <p class="text-1" [ngClass]="{'show': isText1Visible && isImgVisible}">Mi chiamo Chiara Rouibah e sono
            un’osteopata.
            Ho conseguito la laurea in osteopatia presso la International
            College of Osteopathic Medicine (ICOM) al termine di un percorso di studi della durata di cinque anni.
            Durante il
            mio percorso formativo oltre a seguire le lezioni teoriche e pratiche ho svolto più di 1300 ore di tirocinio
            pratico presso la clinica universitaria dove ho avuto la possibilità di interfacciarmi sin da subito con i
            pazienti di tutte le età e di acquisire così le conoscenze e competenze necessarie relative alla gestione
            del
            paziente nella sua globalità.</p>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col flex-center">
          <p class="text-2" [ngClass]="{'show': isText2Visible && isImgVisible}">
            Prediligo un approccio che si basa sull’empatia, sull’ascolto del paziente e sulla comprensione non solo
            della
            sintomatologia riferita, ma anche di tutti gli aspetti che possono concorrere nella sua manifestazione, al
            fine di
            ideare un piano di trattamento incentrato sul singolo individuo. Il piano di trattamento sarà quindi unico e
            su
            misura, in base alle valutazioni effettuate e le esigenze del paziente, in quanto considero di fondamentale
            importanza il riconoscimento e la valorizzazione dell’individualità e dell’unicità della persona.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col flex-center">
          <p class="text-3" [ngClass]="{'show': isText3Visible && isImgVisible}">Mi sono avvicinata a questa disciplina
            non solo per la volontà di aiutare il prossimo, ma anche per l’amore e la passione per il corpo umano e per
            i meccanismi alla base del suo funzionamento. Il fine ultimo del trattamento osteopatico è quello di
            favorire il recupero della salute e il conseguimento del benessere globale della persona, migliorandone così
            la qualità di vita e aiutandola a ritrovare un equilibrio.</p>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col flex-center">
          <p class="text-4" [ngClass]="{'show': isText4Visible && isImgVisible}">
            Inoltre credo fermamente nell’importanza del costante aggiornamento attraverso la formazione al fine di
            garantire ad ogni paziente la miglior cura possibile ed è per questo motivo che attualmente sto svolgendo un
            Master in osteopatia pediatrica e sportiva presso la ICOM - International College of Osteopathic Medicine -
            e durante il percorso formativo ho seguito un corso extra-curricolare sull’applicazione dei Kinesiotaping.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SEZIONE STUDIO -->
<section id="studio" class="first-section-2" [ngClass]="{'show': isStudioVisible}">
  <div class="container">
    <div class="background-image" [ngClass]="{'show': isStudioVisible}"></div>
    <div class="text-container">
      <div class="text-center">
        <p class="studio-text-1" [ngClass]="{'show': isStudioText1Visible && isStudioVisible}">
          Ricevo nel mio studio personale a Rho (MI) in Via Fiume 2.
        </p>
      </div>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
        [ngClass]="{'show': isStudioText1Visible && isStudioVisible}">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/images/IMG-20240408-WA0022.jpg" class="img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/IMG-20240408-WA0021.jpg" class="img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/IMG-20240408-WA0020.jpg" class="img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/IMG-20240408-WA0024.jpg" class="img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/images/IMG-20240408-WA0023.jpg" class="img-carousel" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="text-center">
        <p class="studio-text-1 mb-1" [ngClass]="{'show': isStudioText2Visible && isStudioVisible}">
          Offro anche la possibilità di effettuare visite a domicilio.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- SEZIONE OSTEOPATIA -->
<section id="osteopatia" class="bg-light-2">
  <div class="container">
    <div class="background-image-light" [ngClass]="{'show': isOsteoVisible}"></div>
  </div>
</section>

<!-- SEZIONE CONTATTI -->
<section id="prenota" class="first-section-3" [ngClass]="{'show': isContactsVisible}">
  <div class="background-image" [ngClass]="{'show': isContactsVisible}"></div>
  <div class="text-container">
    <h1>Per prenotare una visita o anche per un semplice consulto:</h1>
    <ul>
      <li>Visita la mia pagina <a style="color: white" target="_blank"
          href="https://www.miodottore.it/chiara-rouibah/osteopata/lainate">Miodottore.it</a></li>
      <li>Contattami su <a href="https://wa.me/message/K2P4AACHQEQWM1">WhatsApp</a>!</li>
      <li>Scrivi una mail a <a href="mailto:chiara.rouibah98@gmail.com">chiara.rouibah98@gmail.com</a></li>
    </ul>
  </div>
</section>

<!-- SEZIONE RECENSIONI -->
<section id="recensioni" class="bg-light-3">
  <div class="container">
    <div class="background-image-light" [ngClass]="{'show': isReviewVisible}"></div>
    <div class="text-container">
      <h1 class="text-center mt-3">Le recensioni</h1>
      <div class="d-flex-center">
        <div class="container-review">
          <div class="review" *ngFor="let review of reviewsArray">
            <p>
              <span class="rating mr-2">5/5</span>
              <em>{{ review.name }}</em>
            </p>
            <p>{{ review.content }}</p>
          </div>
          <small style="text-align: end;">Tutte le recensioni sono prese dal profilo di <a style="color: white"
              target="_blank"
              href="https://www.miodottore.it/chiara-rouibah/osteopata/lainate">Miodottore.it</a></small>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="trusimo">
  Simone Trunfio 2024
</div>