<!-- Navbar desktop -->
<nav class="nav-desktop" [ngClass]="{'show': isNavbarVisible, 'with-transition': applyTransition}">
  <a href="/homepage">Home</a>
  <a href="/osteopatia">L'osteopatia</a>
  <a href="/contatti">Prenota una visita</a>
  <a href="/recensioni">Recensioni</a>
  <a href="/faq">FAQ</a>
</nav>

<!-- Navbar mobile -->
<h1 class="font-amsterdam small-h1" [ngClass]="{'show': isNavbarVisible && home}" *ngIf="home">Chiara Rouibah Osteopata</h1>
<nav class="nav-mobile" [ngClass]="{'show': isNavbarVisible}">
  <ul class="navlist" [ngClass]="{'show-nav': visible, 'hide-nav': !visible}">
    <li><a href="/homepage">Home</a></li>
    <li><a href="/osteopatia">L'osteopatia</a></li>
    <li><a href="/contatti">Prenota una visita</a></li>
    <li><a href="/recensioni">Recensioni</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
  <div class="flex-end">
    <div id="nav-icon3" (click)="clickEvent()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

<body>
<!-- Router Outlet per il contenuto dinamico -->
<main>
  <router-outlet></router-outlet>
</main>  
</body>

<!-- Altro contenuto della tua pagina -->
<footer class="d-flex justify-content-between">
  <h1 class="font-amsterdam-footer">Chiara Rouibah</h1>
  <div class="d-flex flex-column align-items-start">
    <a href="https://wa.me/message/K2P4AACHQEQWM1">WhatsApp</a>
    <a href="mailto:chiara.rouibah98@gmail.com">chiara.rouibah98@gmail.com</a>
  </div>
</footer>
