<!-- SEZIONE RECENSIONI -->
<section id="recensioni" class="bg-light-3" [ngClass]="{'show': isReviewVisible}">
    <div class="container">
        <div class="background-image-light" [ngClass]="{'show': isReviewVisible}"></div>
        <div class="text-container">
            <div class="text-center">
                <h1 [ngClass]="{'show': isReviewVisible}">
                    Le recensioni
                </h1>
            </div>
            <div id="carouselReview" class="carousel slide" data-bs-ride="carousel"
                [ngClass]="{'show': isReviewVisible}">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let review of reviewsArray; let i = index"
                        [class.active]="i === activeIndex">
                        <img [src]="review" class="img-review" alt="Review Image">
                    </div>
                </div>
                <button class="carousel-control-prev d-none-mobile" type="button" data-bs-target="#carouselReview"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next d-none-mobile" type="button" data-bs-target="#carouselReview"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>