* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #457692;
    color: white;
    font-family: 'AbhayaLibre';
    src: local(AbhayaLibre), url(../src/assets/fonts/AbhayaLibre-Regular.ttf);
}

nav {
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(-30px);
}

nav.show {
    opacity: 1;
    transform: translateY(0);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 15px;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    font-size: 24px;
    border-radius: 8px;
    background-color: #457692;
    display: inline-block;
}

nav a:hover {
    color: #457692;
    box-shadow: inset 220px 0 0 0 #fff;
    ;
}

@font-face {
    font-family: 'Amsterdam';
    src: local('Amsterdam'), url('../src/assets/fonts/Amsterdam.ttf') format('truetype');
}

@font-face {
    font-family: 'AbhayaLibre';
    src: local('AbhayaLibre'), url('../src/assets/fonts/AbhayaLibre-Regular.ttf') format('truetype');
}

.container {
    max-width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.first-section,
.first-section-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.first-section.show,
.first-section-2.show {
    opacity: 1;
}

.background-image,
.background-image-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease;
}

.background-image.show,
.background-image-light.show {
    opacity: 0.4;
}

.background-image {
    background-image: url('../src/assets/images/cuore.png');
    z-index: 0;
}

.background-image-light {
    background-image: url('../src/assets/images/cuore-chiaro.png');
    z-index: 0;
}

h1.font-amsterdam {
    font-family: 'Amsterdam';
    font-size: 60px;
    font-weight: 100;
    font-style: italic;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
}

h1.font-amsterdam.show {
    opacity: 1;
}

h2 {
    font-size: 38px;
    margin-top: 40px;
    opacity: 0;
    font-weight: 100;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    z-index: 1;
}

h2.show {
    opacity: 1;
    transform: translateY(0);
}

.bg-light-1,
.bg-light-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5A95B6;
}

.bg-light-2 {
    height: 100vh;
}

.bg-light-1.show,
.bg-light-2.show {
    opacity: 1;
}

.trusimo {
    font-size: 12px;
    color: white;
    text-align: right;
    padding: 10px;
    background-color: #5A95B6;
}

.text-container {
    z-index: 2;
}

/* ANIMAZIONI TESTI */
.chiara {
    opacity: 0;
    width: 400px;
    padding: 30px 0;
    transition: opacity 2s ease-in-out;
    z-index: 2;
    border-radius: 50%;
}

.chiara.show {
    opacity: 1;
}

.text-1,
.text-2,
.text-3,
.text-4 {
    font-size: 20px;
}

.text-1,
.text-3 {
    opacity: 0;
    width: 70%;
    transition: opacity 1s ease, transform 2.3s ease;
}

.text-1.show,
.text-3.show {
    opacity: 1;
    transform: translateX(70px);
}

.text-2,
.text-4 {
    opacity: 0;
    width: 70%;
    transition: opacity 1s ease, transform 2.3s ease;
}

.text-2.show,
.text-4.show {
    opacity: 1;
    transform: translateX(-70px);
}

.studio-text-1 {
    opacity: 0;
    font-size: 24px;
    transition: opacity 2.3s ease, transform 2.3s ease;
    padding-top: 70px;
}

.studio-text-1.show {
    opacity: 1;
    transform: translateY(-70px);
}

.img-1 {
    opacity: 0;
    width: 400px;
    margin-top: -200px;
    transition: opacity 2.3s ease, transform 2.3s ease;
}

.img-1.show {
    opacity: 1;
    transform: translateY(70px);
}

@media (max-width: 768px) {

    .chiara {
        width: 300px;
    }

    h1.font-amsterdam {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
        margin-top: 30px;
    }

    .background-image,
    .background-image-light {
        background-size: 300px;
    }

    .text-1,
    .text-2,
    .text-3,
    .text-4 {
        font-size: 16px;
    }

    .text-1,
    .text-3 {
        width: 300px;
    }

    .text-1.show,
    .text-3.show {
        opacity: 1;
        transform: translateX(40px);
    }

    .text-2,
    .text-4 {
        width: 300px;
    }

    .text-2.show,
    .text-4.show {
        opacity: 1;
        transform: translateX(-40px);
    }

    .studio-text-1 {
        opacity: 0;
        font-size: 24px;
        transition: opacity 2.3s ease, transform 2.3s ease;
        padding-top: 70px;
    }

    .studio-text-1.show {
        opacity: 1;
        transform: translateY(-70px);
    }

    .img-1 {
        opacity: 0;
        width: 200px;
        margin-top: -150px;
        transition: opacity 2.3s ease, transform 2.3s ease;
    }

    .img-1.show {
        opacity: 1;
        transform: translateY(150px);
    }
}