.text-5,
.text-6,
.text-7,
.text-8,
.text-9,
.text-10,
.text-11{
    font-size: 20px;
}

.titolo,
.text-5,
.text-6,
.text-7,
.text-8,
.text-9,
.text-10,
.text-11 {
    opacity: 0;
    margin-left: -20px;
    width: 100%;
    transition: opacity 1s ease, transform 2.3s ease;
}

.titolo.show,
.text-5.show,
.text-6.show,
.text-7.show,
.text-8.show,
.text-9.show,
.text-10.show,
.text-11.show {
    opacity: 1;
    transform: translateX(20px);
}

.bg-light-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5A95B6;
}


.bg-light-2.show  {
    opacity: 1;
}